body{
    padding-bottom: 0;
    margin: 0;
}

#surf {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}


.container2 {
  position: relative;
  height:25vh;
}

.text-block {
  position: absolute;
  bottom: 0;
  right: 10%;
  left: 10%;
  color: white;
  text-align: center;
}

*{ border: 1px solid red; }
